.about-body{
  background-color: var(--primary-background);
  background-image: url(../images//dice-vector1.png);
  background-repeat: repeat-y;
  background-size: contain;
  background-position: center;
  text-align: center;
  height: auto;
  color: var(--subheading-color);
  font-family: var(--primary-font);
}

.about-header{
  padding-top: 80px;
  padding-bottom: 1vmin;
  background-color: var(--secondary-background);
  
}

.about-main {
  padding: 5vmin 0;
}
.about-paragraph {
  text-align: start;
  max-width: 300px;
  font-size: 18px;
}
.about-image {
  max-height: 300px;
  border-radius: 180px;
  border: double 3px;
}

@media (max-width: 990px) {
  .about-paragraph {
    padding-top: 20px;
    text-align: center;
      
   }
}
