.contact-body{
  background-color: var(--primary-background);
  background-image: url(../images//dice-vector1.png);
  background-repeat: repeat-y;
  background-size: contain;
  background-position: center;
  text-align: center;
  height: auto;
  color: var(--subheading-color);
  font-family: var(--primary-font);
  }
  
  .contact-header{
    padding-top: 80px;
    margin-bottom: 5vmin;
    background-color: var(--secondary-background);
    
  }
  
  .contact-main {
    padding: 5vmin 0;
  }
  .order-link{
    color: white;
    text-decoration: none;
  }
  .order-link:hover{
    color: var(--primary-color);
    text-decoration: underline;
  }