.hexGrid {
    --s: 15vw; /* size of a hexagon */
    --m: 0.5vw; /* space between each heaxgon */
    --r: calc(var(--s) * 3 * 1.1547 / 2 + 4 * var(--m));
    padding: 1vw 0vw 5vw 0vw;
    display: flex;
    justify-content: center;
    border: 2px solid #202e15;
  }
  .hexContainer div {
    width: var(--s);
    height: calc(var(--s) * 1.1547);
    margin: var(--m);
    display: inline-block;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    margin-bottom: calc(var(--m) - var(--s) * 0.2885);
  }
  .hexContainer::before {
    content: "";
    width: calc(var(--s) / 2 + var(--m));
    float: left;
    height: 100%;
    shape-outside: repeating-linear-gradient(
      transparent 0 calc(var(--r) - 3px),
      #fff 0 var(--r)
    );
  }
  .hex {
    font-size: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 50%;
    filter: grayscale(100);
    
  }
  .hex:hover {
    opacity: 100%;
    filter: grayscale(0);
    transition: ease-in-out 300ms;
  }
  .hex.first {
    position: relative;
    background-image: url("https://lh3.googleusercontent.com/d/1QU8dcwfKzvWDADXzf67fAYBFYxjQJBlb");
  }
  .hex.second {
    
    background-image: url("https://lh3.googleusercontent.com/d/11fjGeliGm9T2hgbV6RY2QfDcIYh8Mpbi");

  }
  .hex.third {
    
    background-image: url("https://lh3.googleusercontent.com/d/1HAHXd8YpZtIrlnbRCgutb7f4hH3ZxPvb");
  }
  .hex.fourth {
    
    background-image: url("https://lh3.googleusercontent.com/d/14d9Ox_hu04AVt57J_z0FHWkgZkJRFWJp");
  }

  .shape{
    width: 100%;
    height: 100%;
    display: block;
  }

  .shape-overlay{
    font-family: var(--header-font);
    position: absolute;
    padding-top: 5vmax;
    padding-right: 1vmin;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    
  }
  .shape-overlay:hover{
    opacity: 1;
    
    }

    @media (max-width: 1250px) {
      .hex{
        font-size: 45px;
      }
    }
    
    @media (max-width: 992px) {
      .shape-overlay{
        padding-top: 4vmax;
      }
      .hex{
        font-size: 32px;
      }
    }
    
   
    @media (max-width: 768px) {
      .shape-overlay{
        padding-top: 5vmax;
      }
      .hex{
        font-size: 24px;
      }
    }
    @media (max-width: 430px) {
      .shape-overlay{
        padding-top: 3vmax;
      }
      .hex{
        font-size: 10px;
      }
    }
   