nav.navbar{
    background-color: var(--header-color) !important;
    
}
.nav-link {
    color: var(--primary-color) !important;
}
.nav-link:hover {
    color: var(--link-color) !important;
    font-variant: underline;
}
.title{
   color: var(--primary-color);
   padding-left: 10px;
}

