.work-body{
    background-color: var(--primary-background);
    background-image: url(../images//dice-vector1.png);
    background-repeat: repeat-y;
    background-size: contain;
    background-position: center;
    text-align: center;
    color: var(--subheading-color);
    font-family: var(--primary-font);
  }
  
  .work-main{
    padding: 80px 0;
    
  }
  
  
  