.work-body{
    background-color: var(--primary-background);
    background-image: url(../images//dice-vector1.png);
    background-repeat: repeat-y;
    background-size: contain;
    background-position: center;
    text-align: center;
    height: auto;
    color: var(--subheading-color);
    font-family: var(--primary-font);
  }
  
  .work-header{
    padding-top: 80px;
    padding-bottom: 1vmin;
    background-color: var(--secondary-background);
    
  }

  .work-main {
    padding: 5vmin 0;
  }
  
  
  