@font-face {
  font-family: solander;
  src: url(./fonts/solander.ttf);
}
@font-face {
  font-family: OpenSans;
  src: url(./fonts/OpenSans-VariableFont_wdth\,wght.ttf);}

:root {
  --primary-background: #7a8255;
  --secondary-background: #56623e;
  --primary-font: "OpenSans", sans-serif;
  --header-color: #302910;
  --subheading-color: #f1e383;
  --header-font: "solander";}

  body {
    max-width: 1800px;
    min-height: fit-content;
    height: 100vmin;
  font-family: 'OpenSans',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
