@font-face {
  font-family: solander;
  src: url(./fonts/solander.ttf);
}
@font-face {
  font-family: OpenSans;
  src: url(./fonts/OpenSans-VariableFont_wdth\,wght.ttf);}

:root {
  --primary-background: #31622c;
  --secondary-background: #ebd8c8;
  --primary-font: "OpenSans", sans-serif;
  --header-font: "solander";
  --header-color: #62925f;
  --link-color: #f1e383;
  --primary-color: white;
 }

  body {
    min-width: fit-content;
    width: 100%;
    height: 100%;
  font-family: 'OpenSans',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
